@media only screen and (min-width:991px){
    .img-fluid{
        width: 50% !important;
        margin-top: -35px;
      
        
    }
    .errorStyle h3{
        margin-top: -172px !important;
    }

}