  @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');



body{
  font-family: 'Quicksand', sans-serif !important;
  background-color: #0e1630 !important;
  color: white !important;

}
.side a.active{
  color: #01d293 !important;
  border-bottom: 2px solid #01d293;
  line-height: 1.5;

}
